<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <div class="container" style="height: 70vh;">
        <div class="d-flex flex-column justify-content-center">
            <h2 class="text-center"><%= title %> </h2>

            <div class="mx-auto">

                <img class="img-fluid" src="<%= gif %> " alt="">
            </div>
        </div>
    </div>
</body>
</html>